<div class="container-fluid main">
    <div class="row content">
        <div class="col-sm-9">
            <div class="concrete-news">
                <br>
                <div class="alert alert-danger" role="alert" ng-show="$ctrl.error != null">
                    <button type="button" translate="button_back"
                            ui-sref="getAll({page:'1', limit:'5'})"
                            class="btn btn-primary btn-sm">
                    </button>
                    <span ng-bind="$ctrl.error"></span>
                </div>
                <div ng-show="$ctrl.error == null">
                    <div class="news-style">
                        <h5><span ng-repeat="tag in $ctrl.news.tags">
                                <span class="label label-primary" ng-bind="tag.name"></span>&nbsp;
                            </span></h5>
                        <h3><span ng-bind="$ctrl.news.title"></span></h3>
                        <h5><span class="glyphicon glyphicon-time"></span>
                            <span translate="published_message"></span> <span
                                    ng-bind="$ctrl.news.dateTimeOfCreation | dateFilter"></span></h5>
                        <h5 ng-show="$ctrl.news.dateTimeOfUpdate != null"><span class="glyphicon glyphicon-edit"></span>
                            <span translate="edit_message"></span> <span
                                    ng-bind="$ctrl.news.dateTimeOfUpdate | dateFilter"></span></h5>
                        <h5><span class="glyphicon glyphicon-pencil"></span>
                            <span translate="author_title"></span>:
                            <span ng-repeat="author in $ctrl.news.authors">
                                <span ng-bind="author.name"></span>;&nbsp;
                            </span>
                        </h5>
                        <p><span ng-bind="$ctrl.news.text"></span></p>
                        <div class="button">
                            <button type="button" translate="button_back" ng-click="$ctrl.goBack()"
                                    class="btn btn-primary btn-sm">
                            </button>
                            <button type="button" translate="button_update"
                                    ng-click="$ctrl.openUpdateModal($ctrl.news.id)"
                                    class="btn btn-warning btn-sm">
                            </button>
                            <button type="button" translate="button_delete"
                                    ng-click="$ctrl.openDeleteModal($ctrl.news.id)"
                                    class="btn btn-danger btn-sm">
                            </button>
                        </div>
                        <nh-list-comments news-id="$ctrl.news.id"
                                          number-of-comments="$ctrl.news.numberOfComments"></nh-list-comments>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
