<div class="modal-body" id="modal-body" ng-show="$ctrl.error == null">
    <form name="updateCommentForm" ng-submit="submitForm()" novalidate>
        <div ng-class="{ 'has-error' : updateCommentForm.text.$invalid && !updateCommentForm.text.$pristine }">
            <label class="control-label" for="textId" translate="comment_field"></label>
            <textarea class="form-control" rows="3" id="textId" name="text"
                      ng-model="$ctrl.comment.text" ng-required="true"></textarea>
            <p ng-show="updateCommentForm.text.$invalid && !updateCommentForm.text.$pristine" class="help-block"
               translate="field_required_message"></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()" translate="button_cancel"></button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.reset()" translate="button_reset"></button>
            <button class="btn btn-primary" type="submit" ng-click="$ctrl.update()"
                    translate="button_update" ng-disabled="updateCommentForm.$invalid"></button>
        </div>
    </form>
</div>
<div class="alert alert-danger" role="alert" ng-show="$ctrl.error != null">
    <span ng-bind="$ctrl.error"></span>
</div>